
body, html{
  background: linear-gradient(to right, #9D6DF2 0%, #5DE2E7 40%, #8A28BE 60%, #8A28BE 100%);
  font-family: Arial, sans-serif;
  border: 10px;
  height: 100%;
  margin: 0;
  padding: 0;

}

.texto1,
.texto3,
.texto5
{
      color: #ffffff;
      margin-left: 60%; 
      text-align: right;
      margin-right: 2%;
      
  }

  

.texto11,
.texto33,
.texto55{
        color: #ffffff;
        margin-right: 5%; 
        text-align: right;
    }


.texto2,
.texto4{
  width: 40%;
  font-size: 40%;
  margin-left: 2%;
  
  
}
    


a{
  color:#ffffff;
}

.mulher2{
  margin-right: 90%;
  position: relative;
  top: 100px;
  float: left;
  margin-bottom: 200px;

}

.texto11,
.texto1{
  margin-top: 0;
}

li{
  margin-bottom: 10px;
  margin-right: 85%;

}


.o,
.i{
  color: #8A28BE;
}


.texto2,
.texto4{
  box-shadow: 2px 2px 5px #ffffff;
}

.texto1,
.texto3{
  box-shadow: 2px 2px 5px #ffffff;
}

.texto44,
.texto22{
  margin-left: 2%;

}

.instagram{
  margin-right: 2%;
  margin-left: 4%;
}
